torch~=2.8.0
scipy~=1.11.4
openai~=2.3.0
tqdm~=4.67.1
setuptools~=79.0.1
numpy<2  # 降级到 1.x 版本以兼容 matplotlib 等依赖
pandas~=2.3.3
requests~=2.32.5
transformers~=4.57.0
ai_researcher~=0.1.0
datasets~=4.4.1
vllm~=0.11.0